<div>
    <h1 style="margin-left: 10px;">My Work experience</h1>
    <mat-grid-list cols="1" rowHeight="210px">
        <mat-grid-tile>
            <mat-card class="card">
                <mat-card-title>Elf Station Inc.</mat-card-title>
                <mat-card-subtitle>Position: Application Developer</mat-card-subtitle>
                <mat-card-subtitle>April 2019 - Febraury 2020</mat-card-subtitle>
                <mat-card-content>
                    <div>
                        <p>This is my first professional career as an IT. It was a good experience
                            because I learn a lot not just only my profession skill, but also my 
                            communication skill. My primary task is to improve the existing system.
                            Fixing the bugs and add new feature to the system. I was also deploy to 
                            client to install the setup and teach the client on how to use the system.
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="card">
                <mat-card-title>on the-job training</mat-card-title>
                <mat-card-subtitle>Position: Web Developer</mat-card-subtitle>
                <mat-card-content>
                    <div>
                        <p>When i was on my final year as an IT Student we have a subject practicum. We apply
                            our academic knowledge to an actual practice. This is my first corporate work as a
                            Web Developer. It is challenging as a beginner but I need to accept the challenge. 
                            I learn a lot from my practicum at it really shape me a lot.
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>