<div>
    <h1>Skills</h1>
    <h3>These are my skils</h3>
    <mat-grid-list cols="4" rowHeight="150px" [gutterSize]="5">
        <mat-grid-tile>
            <mat-card class="skills">
                <mat-card-content>
                    <div>
                        <img mat-card-avatar src="../../assets//1200px-C_Sharp_logo.svg.png">
                        <p>C#</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="skills">
                <mat-card-content>
                    <div>
                        <img mat-card-avatar src="../../assets/kisspng-asp-net-mvc-logo-net-framework-model–view–con-29-essential-asp-dot-net-mvc-interview-questions-a-5b663cf197acc9.7248540515334269296213.png">
                        <p>ASP.NET</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="skills">
                <mat-card-content>
                    <div>
                        <img mat-card-avatar src="../../assets/kisspng-java-runtime-environment-computer-icons-java-platf-java-5ade3063f31610.0948145615245108199957.png">
                        <p>Java</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="skills">
                <mat-card-content>
                    <div>
                        <img mat-card-avatar src="../../assets/new-php-logo.svg">
                        <p>PHP</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="skills">
                <mat-card-content>
                    <div>
                        <img mat-card-avatar src="../../assets/microsoft-visual-studio-express-visual-basic-visual-programming-language-microsoft-png-clip-art.png">
                        <p>VB.NET</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="skills">
                <mat-card-content>
                    <div>
                        <img mat-card-avatar src="../../assets/mysql.png">
                        <p>MySQL</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="skills">
                <mat-card-content>
                    <div>
                        <img mat-card-avatar src="../../assets/download.png">
                        <p>MSSQL</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="skills">
                <mat-card-content>
                    <div>
                        <img mat-card-avatar src="../../assets/postgresql.png">
                        <p>Postgresql</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="development">
    <mat-grid-list cols="3" rowHeight="100px" [gutterSize]="3">
        <mat-grid-tile>
            <mat-card class="skills">
                <mat-card-content>
                    <div>
                        <img mat-card-avatar src="../../assets/desktop.png">
                        <p>Desktop</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="skills">
                <mat-card-content>
                    <div>
                        <img mat-card-avatar src="../../assets/web.jpg">
                        <p>Web</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="skills">
                <mat-card-content>
                    <div>
                        <img mat-card-avatar src="../../assets/mobile.png">
                        <p>Mobile</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
