<div>
  <mat-grid-list cols="3" rowHeight="2:1" [gutterSize]="0">
    <mat-grid-tile colspan="2" rowspan="3">
      <!-- <div><img src="../../assets//background.jpg" style="height:100%; width: 100%; object-fit: cover;" /></div>
      <div>Hi there, Im Anthony gwapos sa tanan</div> -->
      <img src="../../assets//background.jpg" style="height:100%; width: 100%; object-fit: cover;" />
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <img src="../../assets/AppPIc.jpg" style="height:100%; width: 100%; object-fit: cover;"/>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
  </mat-grid-list>
</div>