<!-- <div>
  <app-navbar></app-navbar>
</div> -->
<!-- <div class='welcome'>
  <app-welcome></app-welcome>
</div>
<div class='workexp'>
  <app-workexp></app-workexp>
</div>
<div class='skills'>
  <app-skills></app-skills>
</div> -->

<div>
  <app-welcome></app-welcome>
</div>
<div>
  <app-workexp></app-workexp>
</div>
<div>
  <app-skills></app-skills>
</div>

<!-- <mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile><app-welcome></app-welcome></mat-grid-tile>
  <mat-grid-tile><app-workexp></app-workexp></mat-grid-tile>
  <mat-grid-tile class="componentStyling"><app-skills></app-skills></mat-grid-tile>
</mat-grid-list> -->
