.skills {
    height : 100vh;
}

.welcome {
    height : 100vh;
}

.workexp {
    height : 100vh;
}

mat-grid-tile {
    background: lightblue;
}

.componentStyling {
    height : 100%;
    width: 100%;
    text-align: center;
}